* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: blueviolet;
    text-align: center;
    color: rgb(1, 1, 63);
    font-size: 18px;
  }

  h1 {
    color: blueviolet;
  font-family: "Kaushan Script", cursive;
  font-weight: 600;
  font-style: normal;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
}

main {
    background-color: rgba(255, 255, 255, 0.6);
    border: 5px double rgb(1, 1, 63);
  /* margin: auto; */
  width: 80%;
  border-radius: 100px;
  padding: 50px;
  margin: 50px auto;
}