@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Dancing+Script:wght@400..700&family=Kaushan+Script&family=Oswald:wght@200..700&family=Playwrite+AU+SA+Guides&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../Images/indexImg.jpg");
  background-size: cover; /* makes image cover the whole screen */
  background-repeat: no-repeat;
  background-position: top center;
  text-align: center;
}

a,
.signuplbl {
  text-decoration: none;
  color: rgb(50, 50, 50);
}
a:hover {
  color: red;
}

.index-container {
  background-color: rgba(255, 255, 255, 0.6);
  margin: 15% auto;
  width: 40%;
  border-radius: 100px;
  padding: 50px;
}

.index-container span {
  color: blueviolet;
  font-family: "Kaushan Script", cursive;
  font-weight: 600;
  font-style: normal;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
}

input {
  border: none; /* remove all borders */
  border-bottom: 3px solid blueviolet;
  background: transparent;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

label {
    font-size: 20px;
    font-weight: bold;
}

table {
    margin: auto;
}